/*---------- loading-spinner ----------*/
.main {
    animation: progressive 5s 1ms;
}

/*---------- Presentation et futur zone de localisation ----------*/
.decouverte{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid darken(white,20%);
    &__localisations{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: $haut_bas;
        width: 100%;
        background-color:darken(white,12%) ;
        &__search{
            margin-left: 5%;
            width: 160px;
            border: none;
            font-weight: bold;
            font-size: $texte-zoom;
            color: black;
            background-color:darken(white,12%) ;
        }
    }
    &__restaurant{
        padding: $haut_bas;
        overflow: hidden;
        width: 100%;
        background-color:darken(white,5%) ;
        display: flex;
        text-align:center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__titre{
            @include titre_index;
        }
        &__texte{
            font-size: $texte-zoom;
        }
    }
}
/*---------- fonction(menu) du site ----------*/
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items:left;
    margin-top: 25px;
    padding: $haut_bas;
    &__titre{
        padding-left: 25px;      
        @include titre_index;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: left;
        @include g-mobile-only{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
        }
    }
    &__element{
        display: flex;
        align-items: center;
        margin: $haut_bas;
        margin-left: -20px;
        font-size: $texte-zoom;
        @include g-mobile-only{
            margin-left: auto;
        }
        &__nombres{
            display:flex;
            justify-content: center;
            background: $couleur-primaire;
            border-radius: 100%;
            color:  white;
            padding: 4px 12px 4px 12px;
            font-size: $texte-zoom;
            z-index: 2;
        }
        &__bouton{
            z-index: 1;
            width: 100%;
            min-width: 400px;
            max-width: 512px;
            height: 100px;
            margin-left: -20px;
            @include bouton-fonction;
            font-weight: bold;
            font-size: $texte-zoom;
            & .fas{
                color: grey;            
                font-size: $texte-zoom;
            }
            &:hover{ 
                background-color:lighten($couleur-primaire ,30%) ;
                box-shadow: $box-shadow-hover;
                & .fas{
                    color:$couleur-primaire;  
                }
            }
        }
    }
}
/*---------- selection du restaurant ----------*/
.choix{
    margin-top: 20px;
    background-color:$font-gris;
    padding: 20px;
    &__list{
        @include g-mobile-only{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content:space-evenly;
        }
    }
    &__restaurant{
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 20px;
        margin: $haut_bas;
        @include g-mobile-only{
            min-width: 380px;
        }
        &__background{
            display: flex;
            & img{
                z-index: 1;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width:100%;
                height: 300px;
            }
            & p{
                overflow: hidden;
                height: 15px;
                z-index: 2;
                margin-left: -100px;
                padding: 10px;
                background-color: $couleur-tertiaire;
                color:darken($couleur-tertiaire,50%);
                border-radius: 5%;
            }
        } 
        &__designation{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:$droit_gauche;
            text-transform: capitalize;
            color: black;
        }
    }
} 