/*---------- Presentation et futur zone de localisation ----------*/
.decouverte{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid darken(white,20%);
    &__localisations{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: $haut_bas;
        width: 100%;
        background-color:darken(white,12%) ;
        &__search{
            margin-left: 5%;
            width: 160px;
            border: none;
            font-weight: bold;
            font-size: $texte-zoom;
            color: black;
            background-color:darken(white,12%) ;
        }
    }
    &__restaurant{
        padding: $haut_bas;
        overflow: hidden;
        width: 100%;
        background-color:darken(white,5%) ;
        display: flex;
        text-align:center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__titre{
            @include titre_index;
        }
        &__texte{
            font-size: $texte-zoom;
        }
    }
}
/*---------- fonction(menu) du site ----------*/
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items:left;
    width: 100%;
    margin-top: 5%;
    padding: $haut_bas;
    &__titre{
        padding-left: 5%;      
        @include titre_index;
    }
    &__list{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: left;
    }
    &__element{
        display: flex;
        width: 100%;
        justify-content:left;
        align-items: center;
        margin: 2%;
        font-size: $texte-zoom;
        &__nombres{
            display:flex;
            justify-content: center;
            background: $couleur-primaire;
            border-radius: 100%;
            color:  white;
            width: 4.5%;
            height: 4.5%;
            margin-left: -3.5% ;
            padding: 1%;
            font-size: $texte-zoom;
            z-index: 2;
        }
        &__bouton{
            z-index: 1;
            margin-left: -3%;
            @include bouton-fonction;
                font-weight: bold;
                font-size: $texte-zoom;
            & .fas{
                color: grey;            
                font-size: $texte-zoom;
            }
            &:hover{ 
                background-color:lighten($couleur-primaire ,30%) ;
                box-shadow: $box-shadow-hover;
                & .fas{
                    color:$couleur-primaire;  
                }
            }
        }
    }
}
/*---------- selection du restaurant ----------*/
.choix{
    margin-top: 5%;
    background-color:$font-gris;
    padding: 5%;
    &__restaurant{
        display: flex;
        flex-direction: column;
        background-color:white;
        border-radius: 5%;
        margin: $haut_bas;
        &__background{
            display: flex;
            & img{
                z-index: 1;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width:100%;
                height: 300px;
            }
            & p{
                overflow: hidden;
                height: 2%;
                z-index: 2;
                text-transform: capitalize;
                margin-left: -25%;
                padding: 2%;
                background-color: $couleur-tertiaire;
                color:darken($couleur-tertiaire,50%);
                border-radius: 5%;
            }
        } 
        &__designation{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:$droit_gauche;
            text-transform: capitalize;
            color: black;
        }
    }
} 
