/*@mixin mixin-name {
  css-property: value;
}*/

@mixin bouton_project{
    width: 340px;
    margin: 25px;
    padding: 15px 25px 15px 25px ;
    text-align: center;
    font-size: $texte-zoom;
    cursor: pointer;
    color: white;
    border-radius: 200px;
    box-shadow: $box-shadow;
    border: none;
    background-image: linear-gradient(
        $couleur-secondaire, 
        $couleur-primaire 
    );
}
@mixin titre_index{    
    margin: 0;
    font-weight: bold;
    font-size: $texte-titre;
}
@mixin bouton-fonction{
    padding: 25px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: $box-shadow;
    border: none;
    background-color:darken(white,5%) ;
}
@mixin g-mobile-only{
    @media screen and(min-width:map-get($breakpoints, g-mobile)){
        @content;
    }
} 